@import 'tailwindcss';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

body {
  margin: 0;
}
